%section#landing.hiddenSection
  %h3 Select a Game Board
  %div.board-list
    %ul.board-list
  %div.create-board-link
    %a{:href=>"#", :onclick=>"createNewBoard()", :class=>"create-board-link"} Create New Board
%section#board-details.hiddenSection
  %h3 Board Layout
  %div.board-layout
  %h3 Players
  %div.player-list
    %ul.player-list
  %div.join-link
  %div.board_links
    %span.delete-board-link
    %span.seperator &nbsp;|&nbsp; 
    %span.reset-board-link
    %span.seperator &nbsp;|&nbsp; 
    %span.ws-board-link
%section#board-details-ws.hiddenSection
  %h3 Board Layout - Auto-Updated with WebSocket
  %div.board-layout-ws
  %h4 Activity Log
  %div.ws-activity-log
%section#join-player-form.hiddenSection
  %h3 Join Player Form
  %div.join-player-form
%script gameList();